#flywheel {
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  min-height: 760px;
  background-color: #efefef;
}

#flywheel h1 {
  position: absolute;
  left: 20px;
  top: 0;
}

#flywheel #canvas {
  position: absolute;
  display: block;
  width: 630px;
  height: 630px;
}

#flywheel #dom_overlay_container {
  pointer-events: none;
  overflow: hidden;
  width: 630px;
  height: 630px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

#flywheel #animation_container {
  position: absolute;
  width: 630px;
  height: 630px;
  top: 70px;
}

#flywheel #description_text_block {
  width: 400px;
  position: absolute;
  top: 150px;
  left: 20px;
  max-height: 400px;
  z-index: 9;
  overflow-y: scroll;
}

#flywheel #instructions_text_block {
  width: 350px;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 9;
  overflow-y: scroll;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0rem 0.4rem 0.5rem 0rem rgb(201, 201, 201);
}

#flywheel #instructions_text_block > header {
  background-color: #dc5d2a;
  min-height: 60px;
}

#flywheel #instructions_text_block > article {
  padding: 1rem 2rem 5px;
  max-height: 340px;
  overflow-y: scroll;
}

#flywheel #instructions_text_block > article p:first-child {
  margin-top: 0;
  padding-top: 0;
}

#flywheel #instructions_text_block > article p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

#flywheel #instructions_text_block > footer {
  background-color: rgb(255, 255, 255);
  min-height: 100px;
}
